<?xml version="1.0" encoding="utf-8"?>
<plugin id="cn.com.ths.agora.videochat" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		基于Agora SDK开发的视频通话插件
	</name>
	<js-module name="ThsAgoraVideoChat" src="www/ThsAgoraVideoChat.js">
		<clobbers target="cordova.plugins.ThsAgoraVideoChat" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ThsAgoraVideoChat">
				<param name="android-package" value="cn.com.ths.agora.videochat.ThsAgoraVideoChat" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<source-file src="src/android/ThsAgoraVideoChat.java" target-dir="src/cn/com/ths/agora/videochat/ThsAgoraVideoChat" />
	</platform>
</plugin>
